<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Page Not Found</title>
	<link rel="stylesheet" type="text/css" href="/public/stylesheets/404.css">
</head>
<body>
	<h1>Page Not Found</h1>
	<p>The page you are looking for could not be found. Please check the URL and try again, or navigate to another part of the site using the links below.</p>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>

	<script src="/public/javascripts/404.js"></script>
</body>
</html>
