<!DOCTYPE html>
<html>
<head>
  <title>Chicken Alfredo Pasta Recipe</title>
</head>
<body>
  <h1>Chicken Alfredo Pasta</h1>
  
  <h2>Ingredients:</h2>
  <ul>
    <% ingredients.forEach(function(item) { %>
      <li><%= item %></li>
    <% }); %>
  </ul>
  
  <h2>Instructions:</h2>
  <ol>
    <% instructions.forEach(function(step) { %>
      <li><%= step %></li>
    <% }); %>
  </ol>
  <a href="javascript:history.back()">Back</a>
</body>
</html>
